<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>LEE-BAY</h1>
    <p>This is the best online store in the entire world!!!! Why? Because we believe in traditonal delivery using pidgeons, this we get you your items in no time, and covered in poop! </p>
<div class="row">
  <div class="column">
    <img src="https://media.npr.org/assets/img/2011/04/09/hamster-9209e959e92b65fff6e13613565b89f138716794.jpg" alt="Hamster" style="width:100%">
  </div>
  <div class="column">
    <img src="img_forest.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
</body>
</html>